.collection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.collection h1 {
    font-size: 60px;
}

.collection hr {
    height: 10px;
    border-radius:25px;
    background-color: black;
    width: 150px;
}

.collection-items {
    /* background-color: aqua; */
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
    width: 80%;
    /* background-color: aqua; */
}

/* .collection-items .Items:hover {
    size: 20px;
} */