.popular {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.popular h1 {
    font-size: 60px;
}

.popular hr {
    height: 10px;
    border-radius:25px;
    background-color: black;
    width: 150px;
}

.popular-items {
    /* background-color: aqua; */
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 80%;
    /* background-color: aqua; */
}