.body-Offers {
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(#f8c3ff, #ffffff) ;
}

.top {
    display: flex;
    align-items: center;
}

.top img {
    height: 50px;
}

.button {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 10px;
    width: 170px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #bc2335;
    color: white;
    border-radius: 25px;
    margin-top: 20px;
    border: none;
}

.body-Offers .button button {
    background-color: #bc2335;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: none;
    transition: 0.5s;
}

.button:hover button {
    background-color: white;
    color: #bc2335;
    transition: 0.5s;
}


.Offers-left {
    width: 500px;
    font-size: 30px;
    font-weight: bold;
}

.button-group {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    /* background-color: aqua; */
}